/*General Styles*/

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Quicksand&display=swap");

html * {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h3 {
  font-size: 1.5rem;
  font-family: "Heebo", sans-serif;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
  font-family: "Heebo", sans-serif;
}

body {
  width: 100%;
}

/*Hero Area*/

.heroImage {
  width: 100%;
  height: 60vh;
  background: no-repeat url("../Assets/englshclassroom.jpg");
  background-position: bottom -492px right -10px;
  display: flex;
  padding-left: 10%;
  justify-content: flex-start;
  padding-top: 70px;
}

.container {
  width: 35%;
  color: white;
}

.container h1 {
  margin: 30px 0 30px 0;
}

.container p {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  line-height: 1.3;
  margin-bottom: 20px;
}

.container button {
  width: 20%;
  height: 14%;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  border-radius: 10px;
  background-color: greenyellow;
  font-weight: bold;
  border: 0;
  transition: transform .2s, background-color .3s;
}

.container button:active {
  transform: scale(0.95);
}

.container button:hover {
  background-color: rgb(221, 240, 10);
}

/*Info Container*/

.infoContainer {
  width: 100%;
  display: flex;
  margin-top: 80px;
  padding: 0 100px;
  gap: 40px;
}

.smallContainer {
  flex: 1;
}

.smallContainer h3 {
  margin-bottom: 20px;
}

.smallContainer p {
  line-height: 1.5;
  font-size: 1.1rem;
}

/*Card Container*/

.cardContainer {
  margin-top: 80px;
  width: 60%;
  height: 50vh;
  border: 1px solid black;
  margin: 80px auto 80px;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.cardContainer .imgContainer,
.cardContainer .cardInfoContainer {
  flex: 1;
}

.cardInfoContainer {
  width: 100%;
  background-color: rgb(251, 247, 247);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.cardInfoContainer blockquote {
  font-size: 1.3rem;
}

figcaption {
  margin-top: 20px;
}

.marginContainer a:last-child {
  color: black;
  display: block;
  margin-top: 20px;
}

.marginContainer {
  margin: 0 50px;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

/*Footer*/

footer {
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.424);
  padding: 20px;
  display: flex;
  padding-bottom: 30px;
}

footer ul {
  list-style-type: disc;
  display: flex;
}

footer ul a {
  color: black;
}

footer ul li {
  margin: 0 15px;
}

footer ul li:first-child {
  list-style-type: none;
}

.rightsideContainer_left span {
  cursor: pointer;
}

.rightsideContainer_left span span:hover {
  text-decoration: underline;
}

.rightsideContainer_left {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.rightsideContainer_right {
  display: flex;
  gap: 30px;
  margin-left: 50px;
  margin-right: 30px;
}

.footer-imgContainer {
  width: 1rem;
  height: 1rem;
}

.footer-imgContainer img {
  width: 100%;
  height: auto;
}
